@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}

.small-caps {
  font-variant: all-small-caps;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

li::before {
  z-index: -1;
}

@keyframes custom-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
}

.animate-custom-shake {
  animation: custom-shake 300ms ease-in-out;
}
